/* CSS declarations go here */
.card-login {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 39em;
	height: 44em;
	margin-left: -19.5em; /*set to a negative number 1/2 of your width*/
	margin-top: -22em; /*set to a negative number 1/2 of your height*/
}

.card-register {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 39em;
	height: 50em;
	margin-left: -19.5em; /*set to a negative number 1/2 of your width*/
	margin-top: -25em; /*set to a negative number 1/2 of your height*/
}